software prototyping/flows.json
[{"id":"a655075c.3b8328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a993066.ae8ab","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"edc9bd62.a06ab","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6fb8cd1c.5ea494","type":"mqtt-broker","name":"node1","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3e151819.f04508","type":"mqtt out","z":"a655075c.3b8328","name":"mqtt","topic":"IP/data","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1090,"y":300,"wires":[]},{"id":"e3d533d1.5aafa","type":"json","z":"a655075c.3b8328","name":"","property":"payload","action":"str","pretty":true,"x":890,"y":300,"wires":[["3e151819.f04508"]]},{"id":"eee2ec83.c1c34","type":"inject","z":"a655075c.3b8328","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"temperature","payloadType":"flow","x":430,"y":320,"wires":[["86e9dcab.1963c"]]},{"id":"7eeeea6b.ec1ee4","type":"inject","z":"a655075c.3b8328","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"humidity","payloadType":"flow","x":420,"y":140,"wires":[["86e9dcab.1963c"]]},{"id":"99b3ec4d.bb458","type":"inject","z":"a655075c.3b8328","name":"moisture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"moisture","payload":"moisture","payloadType":"flow","x":420,"y":380,"wires":[["86e9dcab.1963c"]]},{"id":"86e9dcab.1963c","type":"join","z":"a655075c.3b8328","name":"dataDict","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":660,"y":300,"wires":[["e3d533d1.5aafa"]]},{"id":"fdd3298b.021bd8","type":"mqtt in","z":"a655075c.3b8328","name":"mqtt","topic":"IP/data","qos":"2","datatype":"json","broker":"6fb8cd1c.5ea494","nl":false,"rap":true,"rh":0,"x":410,"y":560,"wires":[["f2140fd3.40d36"]]},{"id":"eb2ec387.96096","type":"json","z":"a655075c.3b8328","name":"","property":"payload","action":"","pretty":true,"x":730,"y":520,"wires":[["833fc806.567158","27ffe7f3.8b36b8"]]},{"id":"833fc806.567158","type":"csv","z":"a655075c.3b8328","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":910,"y":520,"wires":[["3bbcfe85.ebf9c2","150f2251.e7f53e"]]},{"id":"3bbcfe85.ebf9c2","type":"file","z":"a655075c.3b8328","name":"","filename":"data","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1070,"y":520,"wires":[[]]},{"id":"f2140fd3.40d36","type":"switch","z":"a655075c.3b8328","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"IP/data","vt":"str"},{"t":"eq","v":"IP","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":570,"y":560,"wires":[["eb2ec387.96096"],["caab59a7.0af048"]]},{"id":"c2d74a14.cfe1a8","type":"inject","z":"a655075c.3b8328","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":680,"wires":[["caab59a7.0af048"]]},{"id":"caab59a7.0af048","type":"join","z":"a655075c.3b8328","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":720,"y":620,"wires":[["d253da9.465f128","66cc07cf.2db878"]]},{"id":"d253da9.465f128","type":"csv","z":"a655075c.3b8328","name":"IPTABLE","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1020,"y":700,"wires":[[]]},{"id":"21858897.6b6d38","type":"function","z":"a655075c.3b8328","name":"","func":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.87\"]);\n","outputs":1,"noerr":0,"initialize":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.87\"]);\n","finalize":"","libs":[],"x":180,"y":260,"wires":[[]]},{"id":"57e987d0.a1eab8","type":"comment","z":"a655075c.3b8328","name":"data","info":"all sensor data is polled every 10 seconds and written to a dictionary. this dictionary is encoded in JSON and transmitted to the broker via mqtt.","x":790,"y":240,"wires":[]},{"id":"27ffe7f3.8b36b8","type":"debug","z":"a655075c.3b8328","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"f4c3f75e.61e268","type":"inject","z":"a655075c.3b8328","name":"o2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"o2","payload":"o2","payloadType":"flow","x":410,"y":200,"wires":[["86e9dcab.1963c"]]},{"id":"150f2251.e7f53e","type":"debug","z":"a655075c.3b8328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":620,"wires":[]},{"id":"8d1a978d.83af28","type":"inject","z":"a655075c.3b8328","name":"IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"IP","payload":"IP","payloadType":"flow","x":410,"y":80,"wires":[["86e9dcab.1963c","926d1b58.189f18"]]},{"id":"926d1b58.189f18","type":"mqtt out","z":"a655075c.3b8328","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1090,"y":160,"wires":[]},{"id":"66cc07cf.2db878","type":"debug","z":"a655075c.3b8328","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":800,"wires":[]},{"id":"b0939961.94f6c8","type":"mqtt out","z":"6a993066.ae8ab","name":"mqtt","topic":"IP/data","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1090,"y":360,"wires":[]},{"id":"f903a846.19d528","type":"json","z":"6a993066.ae8ab","name":"","property":"payload","action":"str","pretty":true,"x":890,"y":360,"wires":[["b0939961.94f6c8"]]},{"id":"abd4bdc4.dd7b6","type":"inject","z":"6a993066.ae8ab","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"temperature","payloadType":"flow","x":430,"y":380,"wires":[["6034d8b5.bbf148"]]},{"id":"afb15ffb.1d151","type":"inject","z":"6a993066.ae8ab","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"humidity","payloadType":"flow","x":420,"y":200,"wires":[["6034d8b5.bbf148"]]},{"id":"950b8923.47c678","type":"inject","z":"6a993066.ae8ab","name":"moisture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"moisture","payload":"moisture","payloadType":"flow","x":420,"y":440,"wires":[["6034d8b5.bbf148"]]},{"id":"6034d8b5.bbf148","type":"join","z":"6a993066.ae8ab","name":"dataDict","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":660,"y":360,"wires":[["f903a846.19d528"]]},{"id":"f51c8e00.522d9","type":"mqtt in","z":"6a993066.ae8ab","name":"mqtt","topic":"IP/data","qos":"2","datatype":"json","broker":"6fb8cd1c.5ea494","nl":false,"rap":true,"rh":0,"x":410,"y":620,"wires":[["b9659c15.c35cb"]]},{"id":"fbf77cdd.c2ca","type":"json","z":"6a993066.ae8ab","name":"","property":"payload","action":"","pretty":true,"x":730,"y":580,"wires":[["3f457a64.1dda66"]]},{"id":"3f457a64.1dda66","type":"csv","z":"6a993066.ae8ab","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":910,"y":580,"wires":[["8c9ede90.ccd61"]]},{"id":"8c9ede90.ccd61","type":"file","z":"6a993066.ae8ab","name":"","filename":"data","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1070,"y":580,"wires":[[]]},{"id":"b9659c15.c35cb","type":"switch","z":"6a993066.ae8ab","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"IP/data","vt":"str"},{"t":"eq","v":"IP","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":570,"y":620,"wires":[["fbf77cdd.c2ca"],["21db806b.118a8"]]},{"id":"ada7a531.0c5318","type":"inject","z":"6a993066.ae8ab","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":740,"wires":[["21db806b.118a8"]]},{"id":"21db806b.118a8","type":"join","z":"6a993066.ae8ab","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":720,"y":680,"wires":[["94f74631.815368"]]},{"id":"94f74631.815368","type":"csv","z":"6a993066.ae8ab","name":"IPTABLE","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1020,"y":760,"wires":[[]]},{"id":"84e95864.069fb8","type":"function","z":"6a993066.ae8ab","name":"","func":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.93\"]);\n","outputs":1,"noerr":0,"initialize":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.93\"]);\n","finalize":"","libs":[],"x":180,"y":320,"wires":[[]]},{"id":"d6e6c38e.1ac52","type":"comment","z":"6a993066.ae8ab","name":"data","info":"all sensor data is polled every 10 seconds and written to a dictionary. this dictionary is encoded in JSON and transmitted to the broker via mqtt.","x":790,"y":300,"wires":[]},{"id":"6bcccb10.6497c4","type":"inject","z":"6a993066.ae8ab","name":"o2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"o2","payload":"o2","payloadType":"flow","x":410,"y":260,"wires":[["6034d8b5.bbf148"]]},{"id":"5318fe49.42afe","type":"inject","z":"6a993066.ae8ab","name":"IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"IP","payload":"IP","payloadType":"flow","x":410,"y":140,"wires":[["6034d8b5.bbf148","7125cc7d.d6d924"]]},{"id":"7125cc7d.d6d924","type":"mqtt out","z":"6a993066.ae8ab","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1090,"y":220,"wires":[]},{"id":"2f7fcb1b.23e4c4","type":"mqtt out","z":"edc9bd62.a06ab","name":"mqtt","topic":"IP/data","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1070,"y":400,"wires":[]},{"id":"dec40c39.05721","type":"json","z":"edc9bd62.a06ab","name":"","property":"payload","action":"str","pretty":true,"x":870,"y":400,"wires":[["2f7fcb1b.23e4c4"]]},{"id":"63156525.faa06c","type":"inject","z":"edc9bd62.a06ab","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"temperature","payloadType":"flow","x":410,"y":420,"wires":[["966ea004.f6e56"]]},{"id":"5b2661ce.9385e","type":"inject","z":"edc9bd62.a06ab","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"humidity","payloadType":"flow","x":400,"y":240,"wires":[["966ea004.f6e56"]]},{"id":"cf0e21ee.ab63f","type":"inject","z":"edc9bd62.a06ab","name":"moisture","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"moisture","payload":"moisture","payloadType":"flow","x":400,"y":480,"wires":[["966ea004.f6e56"]]},{"id":"966ea004.f6e56","type":"join","z":"edc9bd62.a06ab","name":"dataDict","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":400,"wires":[["dec40c39.05721"]]},{"id":"855ab5b8.eed6c8","type":"mqtt in","z":"edc9bd62.a06ab","name":"mqtt","topic":"IP/data","qos":"2","datatype":"json","broker":"6fb8cd1c.5ea494","nl":false,"rap":true,"rh":0,"x":390,"y":660,"wires":[["46541dae.0ba974"]]},{"id":"dc92799f.7038b8","type":"json","z":"edc9bd62.a06ab","name":"","property":"payload","action":"","pretty":true,"x":710,"y":620,"wires":[["98586f83.88c67"]]},{"id":"98586f83.88c67","type":"csv","z":"edc9bd62.a06ab","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":890,"y":620,"wires":[["8a4c499.d53cbb8"]]},{"id":"8a4c499.d53cbb8","type":"file","z":"edc9bd62.a06ab","name":"","filename":"data","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1050,"y":620,"wires":[[]]},{"id":"46541dae.0ba974","type":"switch","z":"edc9bd62.a06ab","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"IP/data","vt":"str"},{"t":"eq","v":"IP","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":550,"y":660,"wires":[["dc92799f.7038b8"],["aa97e1b9.c43"]]},{"id":"3074a4fd.d8409c","type":"inject","z":"edc9bd62.a06ab","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":780,"wires":[["aa97e1b9.c43"]]},{"id":"aa97e1b9.c43","type":"join","z":"edc9bd62.a06ab","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":700,"y":720,"wires":[["cc240aad.c1e158"]]},{"id":"cc240aad.c1e158","type":"csv","z":"edc9bd62.a06ab","name":"IPTABLE","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1000,"y":800,"wires":[[]]},{"id":"900727ed.d9f7f8","type":"function","z":"edc9bd62.a06ab","name":"","func":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.93\"]);\n","outputs":1,"noerr":0,"initialize":"flow.set([\"humidity\", \"o2\", \"temperature\", \"moisture\", \"IP\"], [67, \"20,7%\",23, 87, \"10.10.10.105\"]);\n","finalize":"","libs":[],"x":160,"y":360,"wires":[[]]},{"id":"a46587f0.e8a378","type":"comment","z":"edc9bd62.a06ab","name":"data","info":"all sensor data is polled every 10 seconds and written to a dictionary. this dictionary is encoded in JSON and transmitted to the broker via mqtt.","x":770,"y":340,"wires":[]},{"id":"2aa8a5f1.22cf0a","type":"inject","z":"edc9bd62.a06ab","name":"o2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"o2","payload":"o2","payloadType":"flow","x":390,"y":300,"wires":[["966ea004.f6e56"]]},{"id":"e1b29a03.5ddb58","type":"inject","z":"edc9bd62.a06ab","name":"IP","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"IP","payload":"IP","payloadType":"flow","x":390,"y":180,"wires":[["966ea004.f6e56","2281c214.4b076e"]]},{"id":"2281c214.4b076e","type":"mqtt out","z":"edc9bd62.a06ab","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fb8cd1c.5ea494","x":1070,"y":260,"wires":[]}]